<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/passenger/update/" method="get" class="form-example">
<input type = "hidden" th:text="${passenger.getPassengerId()}">
<input type="text" th:value="${passenger.getFirstName()}">
<input type="text" th:value="${passenger.getLastName()}">
<input type="text" th:value="${passenger.getPhone()}">
<input type="text" th:value="${passenger.getPrivileges()}">
</form>
</body>
</html>